* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}

.canvas {
  width: 600px;
  height: 600px;
  display: grid;
  border: 4px solid #000;
  grid-template-columns: 1fr 2fr 3fr 3.5fr 3.5fr 1fr 1fr;
  grid-template-rows: 0.8fr 1.5fr 1fr 3fr 2.3fr 2fr 1fr 1.2fr 1fr;
}

.canvas div {
  border: 4px solid #000;
}

.black {
  background: black;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.white1 {
  background: white;
  grid-column: 1 / 2;
  grid-row: 4 / 6;
}

.gray {
  background: gray;
  grid-column: 1 / 3;
  grid-row: 6 / 8;
}

.white2 {
  background: white;
  grid-column: 1 / 3;
  grid-row: 8 / 10;
}

.gray1 {
  background: gray;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.red {
  background: #dd0100;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.blue {
  background: #225095;
  grid-column: 2 / 4;
  grid-row: 4 / 5;
}

.black1 {
  background: black;
  grid-column: 2 / 4;
  grid-row: 5 / 6;
}

.red1 {
  background: #dd0100;
  grid-column: 3 / 4;
  grid-row: 6 / 9;
}

.black2 {
  background: black;
  grid-column: 3 / 5;
  grid-row: 9 / 10;
}

.white3 {
  background: white;
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

.white4 {
  background: white;
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}

.yellow {
  background: #fac901;
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.yellow1 {
  background: #fac901;
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

.white5 {
  background: white;
  grid-column: 4 / 5;
  grid-row: 5 / 6;
}

.white6 {
  background: white;
  grid-column: 4 / 5;
  grid-row: 6 / 7;
}

.blue1 {
  background: #225095;
  grid-column: 4 / 5;
  grid-row: 7 / 9;
}

.gray2 {
  background: gray;
  grid-column: 5 / 6;
  grid-row: 1 / 3;
}

.blue2 {
  background: #225095;
  grid-column: 5 / 6;
  grid-row: 3 / 4;
}

.gray3 {
  background: gray;
  grid-column: 5 / 6;
  grid-row: 4 / 5;
}

.black3 {
  background: black;
  grid-column: 5 / 6;
  grid-row: 5 / 7;
}

.yellow2 {
  background: #fac901;
  grid-column: 5 / 6;
  grid-row: 7 / 9;
}

.gray4 {
  background: gray;
  grid-column: 5 / 6;
  grid-row: 9 / 10;
}

.yellow3 {
  background: #fac901;
  grid-column: 6 / 8;
  grid-row: 1 / 4;
}

.red2 {
  background: #dd0100;
  grid-column: 6 / 7;
  grid-row: 4 / 7;
}

.white7 {
  background: white;
  grid-column: 7 / 8;
  grid-row: 4 / 7;
}

.white8 {
  background: white;
  grid-column: 6 / 8;
  grid-row: 7 / 10;
}