* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}

.canvas {
  width: 500px;
  height: 650px;
  display: grid;
  border: 6px solid #000;
  grid-template-columns: 1fr 2fr 2fr 4fr 2fr;
  grid-template-rows: 1fr 3fr 3fr 1.5fr 2fr 1fr 0.5fr;
}

.canvas div {
  border: 6px solid #000
}

.white {
  background: white;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.white1 {
  background: white;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.white2 {
  background: white;
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}

.yellow {
  background: 	#fac901;
  grid-column: 1 / 2;
  grid-row: 5 / 8;
}

.white3 {
  background: white;
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}

.red {
  background: #dd0100;
  grid-column: 2 / 5;
  grid-row: 2 / 4 ;
}

.black {
  background: #000;
  grid-column: 2 / 4;
  grid-row: 4 / 6;
}

.white4 {
  background: white;
  grid-column: 2 / 4;
  grid-row: 6 / 8;
}

.white5 {
  background: white;
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

.white6 {
  background: white;
  grid-column: 4 / 5;
  grid-row: 5 / 6;
}

.black1 {
  background: #000;
  grid-column: 4 / 5;
  grid-row: 6 / 7;
}

.white7 {
  background: white;
  grid-column: 4 / 6;
  grid-row: 7 / 8;
}

.yellow1 {
  background: #fac901;
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}

.yellow2 {
  background: #fac901;
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

.white8 {
  background: white;
  grid-column: 5 / 6;
  grid-row: 3 / 4;
}

.white9 {
  background: white;
  grid-column: 5 / 6;
  grid-row: 4 / 5;
}

.blue {
  background: #225095;
  grid-column: 5 / 6;
  grid-row: 5 / 7;
}